// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  text-align: center;
  padding: 15px;
}

h1 {
  color: rgb(3, 54, 66);
}

h2 {
  color: rgb(3, 64, 66);
}

.details {
  color: rgb(3, 74, 66);
}

.link {
  color: rgb(3, 84, 66);
}

.completed {
  color: rgb(3, 94, 66);
}
